article {
  display: flex;
  flex-wrap: wrap;
}

div.ficha {
  border: black 2px solid;
  margin: 10px;
}

article p {
  margin: 0;
  padding: 5px;
}

p.p1 {
  padding: 5px 0;
  background-color: lightgray;
  font-size: 150%;
  font-weight: bold;
  text-align: center;
}

p.p2 {
  text-align: justify;
}

article.a11 p.p2 {
  width: 200px;
  margin: 10px;
  border: black 2px solid;
}

article.a12 {
  justify-content: space-around;
}

article.a12 p.p2 {
  width: 200px;
  margin: 10px;
  border: black 2px solid;
}

article.a13 {
  align-items: center;
}

article.a13 p.p2 {
  width: 200px;
  margin: 10px;
  border: black 2px solid;
}

article.a21 div.ficha {
  width: 200px;
}

article.a22 {
  align-items: center;
}

article.a22 div.ficha {
  width: 200px;
}

article.a22 p.p1 {
  border-bottom: black 2px solid;
}

article.a23 div.ficha {
  display: flex;
  flex-direction: row;
  width: 250px;
}

article.a24 {
  align-items: center;
}

article.a24 div.ficha {
  display: flex;
  flex-direction: row;
  width: 250px;
}

article.a24 p.p2 {
  background-color: lightgray;
}

article.a25 div.ficha {
  display: flex;
  flex-direction: row;
  width: 250px;
  background-color: lightgray;
}

article.a25 p.p1 {
  flex-grow: 1;
  align-self: center;
}

article.a31 div.ficha {
  width: 200px;
}

article.a32 div.ficha {
  width: 300px;
  display: flex;
  flex-direction: row;
}

article.a32 div.parte {
  display: flex;
  flex-direction: column;
}

article.a32 p.p1 {
  border-bottom: black 2px solid;
}

article.a33 div.ficha {
  width: 300px;
  display: flex;
  flex-direction: column;
}

article.a33 div.parte {
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: lightgray;
}

article.a33 p.p1 {
  align-self: center;
  align-content: center;
}